.todo-Item__form {
    background-color: rgba(0, 0, 0, 0.247);
    color: white;
    max-width: 50%;
    display: flex;
    justify-content: left;
    margin-top: 10px;
    width: 490px;
}

.todo-Item__title {
    font-size: 23px;
}

.todo-Item__deleteBtn {
    background-color: rgb(219, 75, 75);
    color: white;
    cursor: pointer;
    margin-left: auto;
    font-size: 23px;
    border-color:rgb(221, 97, 97);
}

.todo-Item__deleteBtn:hover {
    background-color: rgb(233, 34, 34);
    border-color: rgb(228, 86, 86);
}