body {
    background-color: lightgray;
  }
  
  .todo__heading {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  
  .todo__input-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .todo__input-title {
    max-width: 20%;
    font-size: 20px;
    margin-top: 18px;
    font-weight: bold;
  }
  
  .todo__input-box {
    font-size: 20px;
    width: 300px;
    height: 28px;
  }
  
  .todo__input-button {
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 19px;
    font-weight: 500;
    cursor: pointer;
    padding: 6px 32px;
    opacity: 0.8;
    transition: 0.3s;
    border-color: rgb(75, 75, 75);
    height: 34.7px;
  }
  
  .todo__input-button:hover {
    opacity: 1;
    border-color: rgb(22, 22, 22);
  }
  
  .edit-todo__input-form {
    margin-top: 25px;
  }
  
  .edit-todo__input-button {
    background-color: rgb(2, 7, 49);
    color: white;
    font-size: 19px;
    font-weight: 500;
    cursor: pointer;
    padding: 6px 32px;
    opacity: 0.8;
    transition: 0.3s;
    border-color: rgb(63, 81, 238);
    height: 34.7px;
  }
  
  .edit-todo__input-button:hover {
    opacity: 1;
    border-color: rgb(85, 101, 245);
  }