.todo-Item__form {
    background-color: rgba(20, 19, 19, 0.247);
    color: white;
    max-width: 50%;
    display: flex;
    justify-content: left;
    margin-top: 10px;
    width: 490px;
}

.todo-Item__title {
    font-size: 25px;
}

.todo-Item__deleteBtn {
    background-color: indianred;
    color: white;
    cursor: pointer;
    margin: 20;
}