.todo-Item__form {
    display: flex;
    justify-content: center;
}

.todo-Item__title {
    font-size: 25px;
}

.todo-Item__deleteBtn {
    background-color: indianred;
    color: white;
    cursor: pointer;
    margin: 20;
}